<%= "Hello, #{@user.username}!" %><br>

<form name="choose">
  <h3>Choose city</h3>
    <select name="cities" id="cities_from_model">
      <option>Choose city</option>
      <% @cities.each do |city| %>
        <option value=<%= city.id %>><%= city.name %></option>
      <% end %>
    </select>
</form>

<div class="result">
<p id="result1"></p>
</div>
