<%= "Hello, #{@user.username}!" %><br>

<form name="choose" action=game_path>
  <h3>Choose city</h3>
    <select name="cities" id="cities_from_model">
      <option>Choose city</option>
      <% @cities.each do |city| %>
        <option value=<%= city.id %>><%= city.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Submit">
</form>
