body {
  font-family: "Helvetica", Sans-serif;
  background-color: #033649;
  margin-left: 100px;
  margin-right: 100px;
  background-image: url;
  width: 90%;
}

img {
  width: 90%;
}

iframe {
  margin-top: 50px;
  width: 90%;
  height: 550px;
}

p {
  font-family: 'Droid Serif', serif;
  line-height: 400%;
  color: #fff;
}

.story-description {
  width: 90%;
  margin: 20px;
  word-wrap: break-word;
}

.button-container {
  margin-left: 150px;

}

.btn-choices {
  background-color: #2dd2a8;
  padding: 5px;
  margin: 5px;
  float: left;
  color: #ffffff;
  font-size: 20px;
  border: none;
  width: 227px; height: 50px;
}


h1 {
  font-size: 150px;
  padding: 0 10%;
  margin: 0;
  color: #C90E17;
  text-align: centre;
  font-weight: normal;
  font-family: 'Butcherman', cursive;
}


.start {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#sign-out {
  font-size: 20px;
  float: right;
  margin-right: 10px;
}
#title-links-wrapper {
  display: inline;
}
#title-sign-out {
  /*display: inline-block;*/
}

#page_title {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 50px;
}

#start-adventure {
  float: center;
  color: red;
}

#story {

}

a {
  font-size: 30px;
}

a:link{
  color: #fff; text-decoration:none
}
a:visited{ color: #fff; text-decoration:none }
a:hover{ color: #666; text-decoration:none }
a:active{ color: #fff; text-decoration:none }


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #033649;
  font-family: 'Josefin Sans', sans-serif;
}
