body {
  font-family: "Helvetica", Sans-serif;
  background-color: #033649;
  margin-left: 100px;
  background-image: url
}

.story-description {
  width: 450px;
  word-wrap: break-word;
}

button.btn-choices {
  background-color: #2dd2a8;
  padding: 5px;
  margin: 5px;
  float: left;
  color: #ffffff;
  font-size: 20px;
  border: none;
  width: 227px; height: 50px;
}


h3 {
  padding: 0 10%;
  margin: 0;
  color: #C90E17;
  font-size: 26;
  text-align: centre;
  font-weight: normal;
  font-family: 'Butcherman', cursive;
}


.start {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:link{ color: #fff; text-decoration:none }
a:visited{ color: #fff; text-decoration:none }
a:hover{ color: #fff; text-decoration:none }
a:active{ color: #fff; text-decoration:none }


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #033649;
  font-family: 'Josefin Sans', sans-serif;
}
